<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Upload to Catbox (Permanent)</string>
			</dict>
			<key>NSMessage</key>
			<string>uploadToCatbox</string>
			<key>NSPortName</key>
			<string>UpGood</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Upload to Litterbox (Temporary)</string>
			</dict>
			<key>NSMessage</key>
			<string>uploadToLitterbox</string>
			<key>NSPortName</key>
			<string>UpGood</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
